.square {
    border: 1px solid black;
    background-color: rgb(241, 107, 107);
}

.square-hovered {
    background-color: rgb(101, 101, 231);
}

#flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 960px;
    background-color: rgb(180, 84, 84);
}